.row
  .col-md-8.col-md-offset-2
    .panel.panel-default.post_image
      .panel-heading
        =image_tag @post.image.url
      .panel-body
        %h2=@post.title
        %p=@post.description
      .panel-footer
        .row
          .col-md-6
            =link_to @post.user.email, user_path(@post.user)
          .col-md-6
            .btn-group.pull-right
              =link_to like_post_path(@post), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-heart
                  =@post.get_upvotes.size
              - if post_owner?
                =link_to "Editer", edit_post_path, class: "btn btn-default"
                =link_to "Supprimer", post_path(@post),
                              method: :delete,
                              data: { confirm: 'Cette publication sera supprimée, voulez-vous continuer?' }, class: "btn btn-default"
              =link_to "Retour", root_path, class: "btn btn-default"
        .row
          #comment
            = render "comments/comments"
            = render "comments/form"